<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header'); %>

    <title>Slideshows</title>
</head>

<body>
  <%- include('../partials/navigation', {active:'slideshows'}); %>

    <main role="main" class="container">
      <h1>Slideshow</h1>
      <form
        action="<% if(locals.entry){ %>/admin/slideshows/edit/<%= entry.id %><% }else{ %>/admin/slideshows/create<% } %>"
        method="POST">
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="name"
            value="<% if(locals.entry){ %><%= entry.name %><% } %>">
        </div>

        <div class="form-group">
          <h4>Margins [px]</h4>

          <div class="row">
            <div class="col">
              <label for="marginTopInput">top</label>
              <input type="text" class="form-control" id="marginTopInput" name="marginTop"
                value="<% if(locals.entry){ %><%= entry.marginTop %><% } %>">
            </div>
            <div class="col">
              <label for="marginRightInput">right</label>
              <input type="text" class="form-control" id="marginRightInput" name="marginRight"
                value="<% if(locals.entry){ %><%= entry.marginRight %><% } %>">
            </div>
            <div class="col">
              <label for="marginBottomInput">bottom</label>
              <input type="text" class="form-control" id="marginBottomInput" name="marginBottom"
                value="<% if(locals.entry){ %><%= entry.marginBottom %><% } %>">
            </div>
            <div class="col">
              <label for="marginLeftInput">left</label>
              <input type="text" class="form-control" id="marginLeftInput" name="marginLeft"
                value="<% if(locals.entry){ %><%= entry.marginLeft %><% } %>">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="backgroundColorInput">Background-Color</label>
              <input type="color" class="form-control" id="backgroundColorInput" name="backgroundColor"
                value="<% if(locals.entry){ %><%= entry.backgroundColor %><% } else { %>#FFFFFF<% }%>">
            </div>
          </div>
        </div>

        <h4>Slides</h4>
        <div class="d-flex flex-row-reverse">
          <button type="button" class="btn btn-secondary" id="addSlide">Add Slide</button>
        </div>

        <div id="slidesWrapper">
          <% if(locals.entry){ %>
            <% entry.slides.forEach(function(slide, index) { %>
              <div class="form-row slide is-saved">
                <input type="hidden" name="slides[<%= index %>][id]" value="<%= slide.id %>">
                <div class="form-group col-md-10 d-flex">
                  <div class="handle d-flex flex-column justify-content-end" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      style="height: 38px; width: auto" viewBox="0 0 16 16">
                      <path
                        d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                  </div>
                  <div class="flex-grow-1">
                    <label for="inputURL">URL</label>
                    <input type="text" class="form-control" id="inputURL" name="slides[<%= index %>][url]"
                      value="<%= slide.url %>">
                  </div>
                </div>
                <div class="form-group col-md-1">
                  <label for="inputDuration">Duration</label>
                  <input type="number" class="form-control" id="inputDuration" name="slides[<%= index %>][duration]"
                    value="<%= slide.duration %>">
                </div>
                <div class="form-group col-md-1 d-flex flex-column justify-content-end">
                  <input type="hidden" name="slides[<%= index %>][delete]" value="0" class="delete-slide-server">
                  <button type="button" class="btn btn-danger delete-slide">Delete</button>
                </div>
              </div>
              <% }); %>
                <% } %>
        </div>
        <button type="submit" class="btn btn-primary">
          <% if(locals.entry){ %>Update<% }else{ %>Create<% } %>
        </button>
      </form>

    </main>

    <div id="slide-template" hidden>
      <div class="form-row slide">
        <div class="form-group col-md-10 d-flex">
          <div class="handle d-flex flex-column justify-content-end" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              style="height: 38px; width: auto" viewBox="0 0 16 16">
              <path
                d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
          </div>
          <div class="flex-grow-1">
            <label for="inputURL">URL</label>
            <input type="text" class="form-control" id="inputURL" name="slides[DUMMY][url]" disabled="true">
          </div>
        </div>
        <div class="form-group col-md-1">
          <label for="inputDuration">Duration</label>
          <input type="number" class="form-control" id="inputDuration" name="slides[DUMMY][duration]" disabled="true">
        </div>
        <div class="form-group col-md-1 d-flex flex-column justify-content-end">
          <button type="button" class="btn btn-danger delete-slide">Delete</button>
        </div>
      </div>
    </div>

    <%- include('../partials/footer'); %>
      <script src="/js/Sortable.min.js"></script>
      <script src="/admin/slideshow.js"></script>
</body>

</html>