<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header'); %>
    <title>Admin</title>
</head>

<body>
  <%- include('../partials/navigation', {active:'clients'}); %>

    <main role="main" class="container-fluid">
      <% clientgroups.forEach(function(clientgroup) { %>

        <div class="container-fluid mb-5">
          <h2 class="display-4">
            <%= clientgroup.name %>
          </h2>
          <p>
            <small>Last Save: <%= clientgroup.lastSendSlideshow ? moment(clientgroup.lastSendSlideshow).format('DD.MM.YYYY HH:mm:ss'): ""
                %></small>
          </p>
          <div class="row">
            <div class="form-group col-9">
              <select class="form-control slideshow-select">
                <% slideshows.forEach(function(slideshow) { %>
                  <option value="<%= slideshow.id %>" <% if(clientgroup.slideshowId==slideshow.id){ %>
                    selected="selected"<% } %>><%= slideshow.name %>
                  </option>
                  <% }); %>
              </select>
            </div>
            <div class="form-group col-3">
              <button type="button" class="btn btn-primary btn-send float-right" data-group="<%= clientgroup.id %>">Save
                & Send</button>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-9">
              <select class="form-control ticker-select">
                  <option value="" <% if(clientgroup.tickerId){ %>selected="selected"<% } %>>- None - </option>
                <% tickers.forEach(function(ticker) { %>
                  <option value="<%= ticker.id %>" <% if(clientgroup.tickerId==ticker.id){ %>
                    selected="selected"<% } %>><%= ticker.name %>
                  </option>
                  <% }); %>
              </select>
            </div>
            <div class="form-group col-3">
              <button type="button" class="btn btn-primary btn-send-ticker float-right" data-group="<%= clientgroup.id %>">Save
                & Send</button>
            </div>
          </div>

          <% if(clientgroup.clients.length> 0){ %>
            <h4 class="mt-3">
              Connected Clients
            </h4>
            <table id="clients" class="table">
              <thead>
                <tr>
                  <th>IP</th>
                  <th>Hostname</th>
                  <th>Client ID</th>
                  <th>Slideshow</th>
                  <th></th>
                  <th>Ticker</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% clientgroup.clients.forEach(function(client) { %>
                  <tr>
                    <td>
                      <%= client.ip %>
                    </td>
                    <td>
                      <%= client.hostname %>
                    </td>
                    <td>
                      <%= client.cid %>
                    </td>
                    <td>
                      <% if (clientgroup.slideshow){ %>
                        <%=clientgroup.slideshow.name %> <br>
                          <small>Last Change: <%= moment(clientgroup.slideshow.lastChange).format('DD.MM.YYYY HH:mm:ss') %></small><br>
                          <small>Last Send:  <%= client.lastSendSlideshow ? moment(client.lastSendSlideshow).format('DD.MM.YYYY HH:mm:ss') : "" %> </small><br><br>
                      <% } %>
                      <% if (clientgroup.slideshow && (clientgroup.slideshow.lastChange> client.lastSendSlideshow)){ %>
                        <div class="alert alert-danger" role="alert">
                          The slideshow of the client is not up to date!
                        </div>
                        <% } %>
                    </td>
                    <td>
                      
                    </td>
                    <td>
                        <% if (clientgroup.ticker){ %>
                          <%=clientgroup.ticker.name %> <br>
                            <small>Last Change: <%= moment(clientgroup.ticker.lastChange).format('DD.MM.YYYY HH:mm:ss') %></small><br>
                            <small>Last Send:  <%= client.lastSendTicker ? moment(client.lastSendTicker).format('DD.MM.YYYY HH:mm:ss') : "" %></small> <br><br>
                        <% } %>
                        <% if (clientgroup.ticker && (clientgroup.ticker.lastChange> client.lastSendTicker)){ %>
                            <div class="alert alert-danger" role="alert">
                              The ticker of the client is not up to date!
                            </div>
                            <% } %>
                      </td>
                    <td>
                      <!--<div class="form-group row">
                    <select class="form-control col-md-6 slideshow-select">
                      <% slideshows.forEach(function(slideshow) { %>
                        <option value="<%= slideshow.id %>" <% if(clientgroup.slideshowId==slideshow.id){ %>
                          selected="selected"<% } %>><%= slideshow.name %>
                        </option>
                        <% }); %>
                    </select>
                    <button type="button" class="btn btn-primary offset-md-1 col-md-2 btn-send"
                      data-client="<%= client.id %>">Send Slideshow</button>
                  
                    <button type="button" class="btn btn-secondary offset-md-1 col-md-2 btn-get"
                      data-client="<%= client.id %>">Get Current URL</button>
                      -->
                      <button type="button" class="btn btn-secondary float-right btn-get"
                        data-client="<%= client.id %>">Get
                        Current URL</button>
                        </td>
                        <td>
                        <button type="button" class="btn btn-secondary float-right btn-reload"
                        data-client="<%= client.id %>">Reload Client</button>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
            <% } %>

              <div class="d-flex flex-row">
                <button type="button" class="btn btn-danger delete-group" data-group="<%= clientgroup.id %>">Delete
                  Client
                  Group</button>
              </div>
        </div>
        <% }); %>
    </main>
    <%- include('../partials/footer'); %>
      <script src="admin.js"></script>
</body>

</html>